* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #dedede;
  padding: 5px;
  margin: 15px;
  font-size: 25px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1.95em;
}

h2 {
  text-align: center;
}

li {
  margin-top: 20px;
}

img {
  width: 100%;
  object-fit: cover;
  max-height: 600px;
}
figure {
  text-align: center;
  border: 3px solid rgb(29, 201, 63);
  height: fit-content;
}
figcaption {
  padding-block: 20px;
}
.label {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px;
}

@media (width >= 772px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  figure {
    border-radius: 1000px;
    overflow: hidden;
  }
  .grid figure:last-child {
    grid-column: 1/-1;
  }
}

@media (width >= 992px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid figure:nth-child(3n) {
    grid-column: 1/-1;
  }
  figure {
    border-radius: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@media (prefers-color-scheme: dark) {
  figure {
    background-color: #2b2b2b;
    color: #f5e88c;
    border: 3px solid black;
  }
}
